* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding-top: 150px;
    max-width: 400px;
    margin: 0 auto;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

form {
    margin-bottom: 20px;
}
input, button {
    padding: 8px;
}



li {
    list-style-position: inside;
    text-align: center;
    cursor: pointer;
    padding: 5px;
    }