@use 'config/reset';
@use 'config/variaveis';

@mixin semDecoracao() {
    a {
        text-decoration: none;
        color: variaveis.$corDeTextoUm;
    }

    li {
        list-style: none;
    }
}

body {
    background-color: variaveis.$corDeFundo;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: variaveis.$corHeader;
    position: sticky;
    top: 0;
    left: 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;

        li {
            @include semDecoracao();
            display: inline;
            margin-left: 24px;
            font-weight: variaveis.$pesoFonteMenu;
        }
    }
}

section {
    padding: 56px 0;

    @include semDecoracao();

    .products {
        margin-top: 40px;
        display: grid;
        grid-template-columns: repeat(3, 32.66%);
        column-gap: 1%;
        row-gap: 4%;
        width: 100%;

        img {
            width: 100%;
            border-radius: 16px;
        }

        a {
            display: block;
            background-color: #44bd32;
            text-align: center;
            padding: 8px 0;
            border-radius: 8px;
            margin-top: 8px;

            &:hover {
                background-color: #4cd137;
            }
        }

    }

}


@media screen and (max-width: 1023px) {
    .container {
        max-width: 80%;
    }

    section {

        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}

@media screen and (max-width: 767px) {
    
    section {
        .products {
            display: block;
        }
    }

    a {
        margin-bottom: 32px;
    }

}